@using Tercume.Entities
@model Tercuman
@{
    ViewBag.Title = "ShowTransloterProfile";
    Layout = null;

}


<script src="~/scripts/jquery.min.js"></script>
<!-- jQuery Easing -->

<script src="~/scripts/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->

<script src="~/scripts/bootstrap.min.js"></script>
<!-- Waypoints -->
<!-- Main -->

<script src="~/scripts/main.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Translator.css" rel="stylesheet" />





<div class="container-fluid">
    <div class="row">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example" />
            <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example" />
            <div class="fb-profile-text">
                <h1>@(Model.Name + " " + Model.Surname)</h1>

            </div>
        </div>
    </div>
</div> <!-- /container fluid-->
<div class="container">
    <div class="col-sm-8">
        <div data-spy="scroll" class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_default_1" data-toggle="tab">
                            Hakkında
                        </a>
                    </li>
                    <li>
                        <a href="#tab_default_2" data-toggle="tab">
                            Eğitim & Kariyer
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_default_1">

                        <p>
                        

                            My daughter  is good looking, with pleasant personality, smart, well educated, from well cultural and  a religious family background. having respect in heart for others.
                            would like to thanks you for visiting through my daughter;s profile.
                            She has done PG in Human Resources after her graduation.
                            At present working IN INSURANCE sector as Manager Training .
                        </p>
                        

                        <h4>Eğitim </h4>
                        <p>I have done PG in Human Resourses</p>
                        <h4>Occupation</h4>
                        <p>At present Working in Insurance sector</p>

                    </div>
                    <div class="tab-pane" id="tab_default_2">
                        <p>
                            Education& Career
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Highest Education:</label>
                                    <p> MBA/PGDM</p>
                                </div>
                                <div class="form-group">
                                    <label for="email">Place of Birth:</label>
                                    <p> pune, maharashtra</p>
                                </div>
                                <div class="form-group">
                                    <label for="email">Place of Birth:</label>
                                    <p> pune, maharashtra</p>
                                </div>
                                <div class="form-group">
                                    <label for="email">Place of Birth:</label>
                                    <p> pune, maharashtra</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Place of Birth:</label>
                                    <p> pune, maharashtra</p>
                                </div>
                                <div class="form-group">
                                    <label for="email">Place of Birth:</label>
                                    <p> pune, maharashtra</p>
                                </div>
                                <div class="form-group">
                                    <label for="email">Place of Birth:</label>
                                    <p> pune, maharashtra</p>
                                </div>
                                <div class="form-group">
                                    <label for="email">Place of Birth:</label>
                                    <p> pune, maharashtra</p>
                                </div>
                            </div>
                        </div>


                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            
            <div class="panel-body">
                <div class="row">
                    <button type="submit" class="btn btn-danger btn-block">Mesaj Gönder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

